* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #212021;
}

.user-name strong {
  font-weight: 900;
  margin-right: 8px;
  cursor: pointer;
}

.user-name strong a {
  text-decoration: none;
  color: #212021;
}

.user-content .time {
  font-size: 14px;
  line-height: 1.428571429;
  color: #626162;
}

/* -font- */
.message {
  display: flex;
  padding: 8px;
  background-color: antiquewhite;
  max-width: 810px;
  height: auto;
}

.user-image {
  margin-right: 12px;
  cursor: pointer;
}

.user-image a {
  display: block;
}

.user-image img {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 4px;
}

.message-info {
  display: flex;
}

.time {
  position: relative;
  top: -2px;
  /* 이건 솔직히 좀 위치 안맞아서 넣어봄 */
}

/* -tooltip- */

.time {
  position: relative;
}

.time .tooltip {
  visibility: hidden;
  width: 134px;
  height: 32px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.714285715;
  padding: 4px 12px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.time:hover .tooltip {
  visibility: visible;
}

.time .tooltip::after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 4px;
  border-color: #000 transparent transparent transparent;
  top: 100%;
  right: 50%;
}
